@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

html, body {
  height: 100%;
  width: 100%;
}

*{
font-family: 'Quicksand', sans-serif;
margin: 0;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} 
